---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import HeroSwiper from '../components/HeroSwiper.astro';
import Testimonials from '../components/Testimonials.astro';
import { Icon } from 'astro-icon';

import monalisa from "../assets/img/monalisa.jpg";

const practices = [
  {
    icon: 'family-light',
    title: 'Family Law',
    description: 'Representation in civil family law.',
    link: '/custom.vue',
    linkText: 'learn more',
  },
  {
    icon: 'house-heart-light',
    title: 'Estate Planning',
    description: 'Representation in Estate Planning.',
    link: '/',
    linkText: 'learn more',
  },
  {
    icon: 'scale-balanced-light',
    title: 'Cilvil Litigation',
    description: 'Representation in civil litigation cases.',
    link: '/',
    linkText: 'learn more',
  },
  {
    icon: 'gavel-light',
    title: 'Mediation',
    description: 'Representation in civil Mediation cases.',
    link: '/',
    linkText: 'learn more',
  },
]
---

<Layout title="Welcome to Astro.">
	<!-- Hero Swiper -->
	<HeroSwiper />
	
	<main id="main">
		<!-- Intro -->
		<article class="intro container">
			<header class="flow">
				<span class="subhead color-brand">About us</span>
				<h1>
					Welcome to <br />
					Coups &amp; Copus
				</h1>
			</header>
	
			<div class="description">
				<p>
					Welcome to [Law Firm Name], where justice is our cornerstone. With a
					legacy of excellence and a relentless pursuit of truth, our
					distinguished law firm stands as a pillar of trust and advocacy in the
					legal landscape.
				</p>
				<p>
					At [Law Firm Name], we understand that every client deserves unwavering
					dedication and personalized attention. Our team of experienced attorneys
					combines expertise, integrity, and a deep understanding of the law to
					provide comprehensive legal solutions tailored to meet your unique
					needs.
				</p>
				<p>
					Whether you require guidance in corporate law, civil litigation,
					criminal defense, family law, or any other legal matter, our firm offers
					a wide range of practice areas, ensuring that we can effectively
					navigate the complexities of your case. We are committed to protecting
					your rights, achieving favorable outcomes, and delivering justice with
					compassion and professionalism.
				</p>
			</div>
		</article>
		
		<!-- practice-areas -->
		<article class="practice-areas container flow">
			<header class="flow">
				<span class="subhead color-brand">Our Services</span>
				<h2 class="heading">Areas of practice</h2>
			</header>
			
			<ul class="practices">
				{practices.map((practice) => (
					<li class="flow">
						<Icon name={ practice.icon } class="icon" />
						<strong class="title">{ practice.title }</strong>
						<p class="description">
							{ practice.description }
						</p>
						<a href="/">{ practice.linkText }</a>
					</li>
				))}
			</ul>
		</article>
		
		<!-- practice-areas -->
		<article class="the-team">
			<div class="image">
				<Image src={monalisa} alt="The team of Copus law"/>
			</div>
			<div class="content flow">
				<header class="flow">
					<span class="subhead">Our Team</span>
					<h2>Meet Our Professional Team</h2>
				</header>
				<p>
					Whether you require guidance in corporate law, civil litigation,
					criminal defense, family law, or any other legal matter, our firm offers
					a wide range of practice areas, ensuring that we can effectively
					navigate the complexities of your case. We are committed to protecting
					your rights, achieving favorable outcomes, and delivering justice with
					compassion and professionalism.
				</p>
				<button>Learn more</button>
			</div>
		</article>

		<!-- practice-areas -->
		<article class="testimonials container">
			<header class="flow">
				<span class="subhead">Testimonials</span>
				<h2>Our Happy Clients</h2>
			</header>
			<Testimonials />
		</article>

		<!-- -->

		
		<!-- -->
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	/* Intro */
	.intro {
		display: grid;
		grid-template-columns: auto 50%;
		justify-content: flex-end;
		gap: var(--size-fluid-6);
		padding-block: var(--size-fluid-5);
	
		.heading {
		}
		.description {
		}
	}

	/* Practice Areas */
	.practice-areas {
		background-color: #fff;
		border-block: 1px solid #d9dcc9;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-block: var(--size-fluid-5);
	}

	.practices {
		display: flex;
		block-size: auto;
		overflow-x: auto;
		overflow-y: hidden;
		--flow-space: 3rem;

		li {
			display: flex;
			flex: 0 0 auto;
			flex-direction: column;
			align-items: center;
			padding-block: var(--size-5);
			padding-inline: var(--size-8);
			--flow-space: 0.5rem;
		}

		/* Border */
		li:not(:last-child) {
			border-right: 1px solid #d9dcc9;
		}

		.icon {
			size: var(--size-8);
		}

		.title {
			--flow-space: 1.25rem;
		}

		.description {
			font-size: var(--font-size-0);
			max-width: var(--size-content-1);
			text-align: center;
		}
	}

	/* The Team */
	.the-team {
		display: flex;
		flex-wrap: wrap;
		background-color: var(--brand);
		color: white;

		> * {
			flex: 1 0 50%;
			min-width: 300px;
		}

		.content {
			padding: var(--size-fluid-5);
		}
		.description {
		}
	}
	</style>
	
