---
import { Image } from 'astro:assets';
import ladyJustice from "../assets/img/lady-justice.png";


const slides = [
  {
    title: 'Title one',
    image: ladyJustice,
    description: 'Description one'
  },
  {
    title: 'Title two',
    image: ladyJustice,
    description: 'Description one'
  },
  {
    title: 'Title three',
    image: ladyJustice,
    description: 'Description one'
  },
]

---
<style>
/* .swiper {
  width: 100%;
  height: 300px;
  background-color: red;
} */
swiper-slide {
 
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding-block-start: var(--size-9);
  position: relative;

  :where(.heading, .description) {
    color: white;
  }

  > * {
    flex: 1;
  }

  .heading {
    font-family: MerriweatherItalic;
  }
  .description {
  }

  img {
    width: 100%;
    max-width: 520px;
    align-self: flex-end;
  }
}
/* Years Experience */
.years-experience {
  position: absolute;
  inset-block-start: var(--size-7);
}
.years {
  fill: white;
  stroke: none;
  font-family: 'MerriweatherItalic';
}
textPath {
  fill: white;
  stroke: none;
  letter-spacing: 1.4px;
}
/* Tagline */
.tagline {
  color: white;
  position: absolute;
  font-size: var(--font-size-1);
  inset-block-start: var(--size-8);
  inset-inline-end: var(--size-5);
  font-family: 'MerriweatherItalic';
  letter-spacing: 0.03em;
}
</style>

<swiper-container
  class="swiper"
  slides-per-view="1" 
  speed="500" 
  loop="true" 
  css-mode="true"
  pagination="true" 
  pagination-clickable="true" 
  space-between="30" 
  mousewheel="true"
>
{slides.map((slide) => (
  <swiper-slide class="container">
    <svg
      viewBox="0 0 100 100"
      class="years-experience"
      width="100"
      height="100"
    >
      <defs>
        <path
          id="circle"
          d="M 50, 50m -37, 0a 37,37 0 1,1 74,0a 37,37 0 1,1 -74,0"
        />
      </defs>
      <text
        font-size="30"
        class="years"
        transform="matrix(1 0 0 1 32 57)"
      >
        40
      </text>
      <text font-size="12">
        <textPath href="#circle">
          years of combined legal practice
        </textPath>
      </text>
    </svg>
    <p class="tagline">Accomplished. Experienced. Thorough.</p>
    <h1 class="heading">{ slide.title } </h1>
    <Image src={ slide.image } alt="a statue of the lady justice holding scales"/>
    <p class="description"> {slide.description} </p>
  </swiper-slide>
))}
</swiper-container>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>